html {
  max-width: 1365px;
  position: relative;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  /* background-image: url(../image/background-4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
body {
  margin: 0;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 40px;
}

h2, h3, h4 {
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px;
}

span {
  font-weight: 900;
}
p {
  font-size: 15.57px;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 1px;
}
a, input, textarea {
  font-size: 16.57px;
  color: white;
}
 a {
   color: #fff;
   text-decoration: none;
   border: 1px solid #fff;
   border-radius: 10px;
   padding: 10px 15px;
   display: block;
   max-width: 210px;
   text-align: center;
   margin-top: 50px;
 }

 .pic_1 {
   background-image: url(../image/Pic_1.png);
   grid-area: a;
 }

 .pic_menu {
   background-color: #f3f3f3;
   grid-area: b;
 }

 .pic_2 {
   background-image: url(../image/Pic_2.png);
   grid-area: c;
 }

 .pic_3 {
   background-image: url(../image/Pic_3.png);
   grid-area: d;
 }

 .pic_4 {
   background-image: url(../image/Pic_4.png);
   grid-area: e;
 }

 .pic_5 {
   background-image: url(../image/Pic_5.png);
   grid-area: f;
 }

 .pic_6 {
   background-image: url(../image/Pic_6.jpg);
   grid-area: g;
 }

 .pic_1, .pic_2, .pic_3, .pic_4, .pic_5, .pic_6 {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
 }


.pic_menu, .pic_2, .pic_3, .pic_4, .pic_5, .pic_6 {
  padding: 60px 55px 70px 55px;
}

.pic_2, .pic_4, .pic_5, .pic_6 {
  color: #fff;
}

.pic_2 div {
  margin-bottom: 70px;
}

.form {
  max-width:620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input, .form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 18px 15px;

}

.form textarea {
  width: 100%;
  min-height: 124px;
}

.form input {
  width: calc(48% - 30px);
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {color: #fff;}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {color: #fffb;}
.form input:-moz-placeholder, .form textarea::-moz-placeholder {color: #fff;}
.form input:-ms-input-placeholder, .form textarea::-ms-input-placeholder {color: #fff;}

.pic_3 a {
  color: #000;
  border: 1px solid #000;
}

a.bars {
  display: block;
  width: 33px;
  height: 33px;
  background-image: url(../image/bars-solid.svg);
  border: none;
  margin-bottom: 64px;
  background-repeat: no-repeat;
}


.send {
  color: #fff;
  border-radius: 10px;
  min-width: 210px;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid;
  text-decoration: none;
  text-align: center;
  margin-top: 25px;
  font-size: 16.57px;
}

.list li a {
 background-size: cover;
 background-repeat: no-repeat;
 width: 35px;
 height: 35px;
 display: block;
 border: none;
 padding-bottom: 16px;

}

.list li {
  margin-right: 10px;
}

.list {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

.list .list-fb {
  background-image: url(../image/facebook.jpg);
}

.list .list-dr {
  background-image: url(../image/dribbble.jpg);
}

.list .list-tw {
  background-image: url(../image/twitter.jpg);
}

.logo {
  display: block;
  width: 65px;
  height: 65px;
  background-image: url(../image/logo_Ali_Sayed.png);
  margin-bottom: 25px;
  background-size: cover;
}
.grid {
  display: grid;
  grid-template-areas: "a a a a a a b b b"
                       "c c c c d d d d d"
                       "c c c c e e e e e"
                       "f f f g g g g g g "
}
